name: Development CI/CD

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: latest # You can specify the Node.js version you are using.

    - name: Install dependencies
      run: npm install

    - name: Build TypeScript code
      run: npm run build # Assuming this command generates the production-ready "dist" folder.

    - name: Deploy to GCP instance
      uses: appleboy/scp-action@v0.1.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        port: ${{ secrets.PORT }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        passphrase: ${{ secrets.PASS_PHRASE }}
        source: 'dist/*,environments/development.json,package.json'
        target: /var/www/html/linksbynk/public_html/


    - name: Reload the Node.js application using PM2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        port: ${{ secrets.PORT }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        passphrase: ${{ secrets.PASS_PHRASE }}
        script: |
          cd /var/www/html/linksbynk/public_html
          npm install --production
          pm2 reload links-server
        
    
  # Add more steps for testing, database migrations, etc. as needed.
